version: 1.0.{build}
branches:
  only:
  - dev
build_script:
- ps: .\build.ps1
test: off
services:
  - mssql2016           # start SQL Server 2016 Developer with SP1
  - mysql               # start MySQL 5.7 x64 service
  - postgresql          # start PostgreSQL 9.6 service
artifacts:
- path: artifacts/packages/*.nupkg
deploy:
- provider: NuGet
  server: https://www.myget.org/F/identity/
  api_key:
    secure: 43SK7fLJcrno252Wqb6j+jFYeTjaHG8EWXruhHv6kW+bbySa4uBGTPNFjA7lzD0Y
  skip_symbols: true
  on:
    branch: dev

image: Visual Studio 2017

#---------------------------------#
#  Skip builds for doc changes    #
#---------------------------------#
skip_commits:
  # Regex for matching commit message
  message: /docs.*/